@import url("reset.css");
@import url("variables.css");

.cabecalho {
    background-color: var(--green);      
    margin: 0;
}

.titulo-principal {
    color: var(--grey);
    font-family: var(--primary-font);
    font-size: 6rem;
    padding: 1rem;
    text-align: center;
}

.imagem-perfil {
    border-radius: 50%;
    width: 240px;
}

.main {
    background-color: var(--grey);
    padding: 1rem;
}

.secao {
    align-items: center;
    display:flex;
}

.descricao {
   font-size: 2rem;   
}

.lista-links {
    display: flex;
}

.logo {
    width: 5rem;
}

.item-lista {
    align-items: center;
    color: var(--black);
    display: flex;
    font-size: 3rem;
    justify-content: center;
    list-style: none;
}

.lista {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.link {
    align-items: center;
    color: var(--black);   
    display: flex;
    font: var(--primary-font);
    gap: 2rem;
}
