@import url("reset.css");
@import url("variables.css");

.cabecalho{
    background-color: var(--green);      
    margin: 0;
}

.titulo-principal{
    text-align: center;
    color: var(--grey);
    font-family: var(--primary-font);
    font-size: 6rem;
    padding: 1rem;
}

.imagem-perfil{
    width: 15rem;
    border-radius: 50%;
}

.main{
    background-color: var(--grey);
    padding: 1rem;
}

.secao{
    display:flex;
}

.descricao{
   font-size: 2rem;   
}
